<html>
    <body>


    <% include ../includes/menu.ejs%>


        <div class='erros'>
             <%if(errosValidacao){%>
                <ul>
                    <%for(var i=0;i<errosValidacao.length;i++){%>
                        <li><%=errosValidacao[i].param%> - <%=errosValidacao[i].msg%></li>
                    <%}%>
                </ul>
             <%}%>
        </div>
        <form action="/produtos" method="post">
            <div>
                <label for="titulo">Titulo</label>
                <input type="text" id="titulo" name="titulo" value="<%=produto.titulo%>" placeholder="coloque o titulo"/>
            </div>
            <div>
                <label for="preco">Preço</label>
                <input type="text" id="preco" name="preco" value="<%=produto.preco%>" placeholder="150.25"/>
            </div>
            <div>
                <label for="descricao">Descrição</label>
                <textarea cols="20" rows="10"  id="descricao" name="descricao" placeholder="fale sobre o livro"><%=produto.descricao%></textarea>
            </div>

            <div>
                <label for='nome'></cep>
                <input text='text' id='nome' name='nome' required
                    placeholder='Nome'>   
            </div>   
        
            <div>
                <label for='email'></cep>
                <input text='email' id='email' name='email' placeholder='Email'>   
            </div>   


            <div>
                <label for='telefone'></cep>
                <input text='text' id='telefone' name='telefone' placeholder='Telefone'
                    pattern='([1-9][1-9])9?\d{4}-?\d{4}' required>   
            </div>   


            <div>
                <label for='cep'></cep>
                <input text='text' id='cep' name='cep' required pattern='\d{5}-?\d{3}'
                    placeholder='Cep'>   
            </div>   
                    
            
            <div>
                <label for='cidade'></cep>
                <input text='text' id='cidade' name='cidade' placeholder='Cidade'>   
            </div>   

            <div>
                <label for='bairro'></cep>
                <input text='text' id='bairro' name='bairro' placeholder='Bairro'>   
            </div>   
            <div>
                <label for='rua'></cep>
                <input text='text' id='rua' name='rua' placeholder='rua'>   
            </div>   


            <div>
                <label for='rg'></cep>
                <input text='text' id='rg' name='rg' placeholder='RG'>   
            </div>   


            <div>
                <label for='cpf'></cep>
                <input text='text' id='cpf' name='cpf' pattern='\d{3}(\.?\d{3}){2}-?\d{2}' placeholder='000.000.000-00'>   
            </div>   


            <div>
                <label for='nascimento'></cep>
                <input text='text' id='nascimento' name='nascimento' placeholder='nascimento'>   
            </div>   
            


            <input type="submit" value="gravar"/>
        </form>
    </body>
</html>
